# Données et Modèles
data/
model/
*.csv
*.zip
*.bst
*.pkl

# Exception : le modèle ML doit être déployé sur Render
!StatArb_ETH_15m/model/
!StatArb_ETH_15m/model/lgbm_statarb.pkl

# Python / IDE
__pycache__/
.ipynb_checkpoints/
.vscode/

# Environment
.env
*.pyc